body {
    font-family: sans-serif;
    overflow: auto;
    user-select: none;
    background-color: violet;
}

.sections {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 650px;
    width: 50%;
}